name: voice_recorder_app
description: "A voice recorder Flutter application."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  # Add these packages for audio recording
  record: ^5.0.4
  path_provider: ^2.1.1
  permission_handler: ^11.0.1
  audioplayers: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
