name: voice_recorder_app
description: A voice recorder Flutter application.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_sound: ^9.2.13
  permission_handler: ^11.0.1
  path_provider: ^2.1.5 
  android_alarm_manager_plus: ^2.0.3
  flutter_local_notifications: ^13.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
